
body {
    font-family: Arial, sans-serif;
  }
  .container {
    width: 300px;
    margin: auto;
    background-color: plum;
  }
  .task-list {
    list-style: none;
    padding: 0;
  }
  .task-list li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  

  #add-button {
    background-color: #4CAF50; 
    color: white; 
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 4px;
  }


  #add-button:hover {
    background-color:pink;
  }